/*
The visible portion of the header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body*/

/*  400 pixels of <header> to be visible when the element is behind another element. */

.header {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  width: 100%;
  background-color: #d89820;
  background-image: url("../images/binding-dark.png");
}

/* .avatar {
  justify-content: center;
  align-items: center;
} */

.name {
  color: #FFFFFF;
  font-weight: 300;
  margin-top: 10px;
}
.firstName {
  color: #FFFFFF;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .header {
    position: fixed;
    display: flex;
    width: 25%;
    height: 25%;
    margin-top: 15%;
    margin-left: 5%;
  }
  .header img {
    display:flex;
    padding-top: 15%;
    max-width: 150px;
    max-height: 120px;
  }
}
